<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.framework.db.mysql.mapper.SyAdminMapper">

    <select id="query" resultType="com.xt.framework.db.mysql.mapper.model.SyAdmin">
        select * from t_sy_admin tsa
        <where>
            <trim prefixOverrides="AND|OR">
                <if test="queryParam.createBy!=null and queryParam.createBy!=''">
                    and JSON_CONTAINS(tsa.create_by,CONCAT('"',#{queryDto.createBy},'"'))
                </if>
            </trim>
        </where>
    </select>
</mapper>
